<section data-ng-controller="ArenaController">

  <div class="container">
    <div class=" nav">
		<div class="navlogo"><a href="http://projectember.tk:3000/#!/dashboard"><img src="../lib/ember/images/navlogopassive.png" alt="logo" url"http://projectember.tk:3000/#!/dashboard"></a></div>

		<a class="breadcrumbsgrey" href="#!/dashboard">My Dashboard</a>
      <div class="breadcrumbsgym">Arena</div>

      <div class=" loginbutton">
        <ul id="nav">

        <li><a href="#">Logged in as {{users.firstName}} <img class="imgarrowdown" src="../lib/ember/images/iconArrowdown.png" width="10" alt="ArrowDown"></a>

        <ul>
        <li><a href="#">My account</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Log out</a></li>
        </ul>
        </li>
        </ul>
      </div>
      <img class="imghelp" src="../lib/ember/images/iconHelpB.png" width="16" alt="53846395c0efed3857987621_iconHelpB.png" data-ix="oakmessage">
    </div>
    <div class=" oakmessage">
      <img class="cross" src="../lib/ember/images/iconCrossWhite.png" alt="538c474713a46eb10628c686_iconCrossWhite.png" />
            <p class="oak">Hello I am Oak. With this box I can support you through the website.</p>
      <div class="arrowleft oak notavailable"></div>
      <div class="arrowright oak"></div>
      <div class="form">
        <form class="" id="email-form" name="email-form" data-name="Email Form">
          <div class="checkbox  checkbox">
            <input class="checkbox-input" id="checkbox" type="checkbox" name="checkbox" data-name="Checkbox">
            <label class="form-label checkboxlabel" for="checkbox">Stop automated help</label>
          </div>
        </form>
        <div class="form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
    </div>
    <div class=" content">
      <div class=" contentgym">
        <h4 class="comingsoon">Coming soon!</h4><a class="button white" href="#!/dashboard">Go back!</a>
      </div>
    </div>



</section>