<section data-ng-controller="DashboardController">
  <div class="container">
    
    <div class="nav">
        <div class="navlogo"><a href="http://projectember.tk:3000/#!/dashboard"><img src="../lib/ember/images/navlogo.png" alt="logo" url"http://projectember.tk:3000/#!/dashboard"></a></div>
      <a class="breadcrumbsblue" href="/#1/dashboard">My Dashboard</a>
      <div class="loginbutton" data-ix="loggedinas">
        <ul id="nav">

        <li><a href="#">Logged in as {{users.firstName}} <img class="imgarrowdown" src="../lib/ember/images/iconArrowdown.png" width="10" alt="ArrowDown"></a>

        <ul>
        <li><a href="#">My account</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Log out</a></li>
        </ul>
        </li>
        </ul>
        </div>
      <img class="imghelp" src="../lib/ember/images/iconHelpB.png" width="16" alt="53846395c0efed3857987621_iconHelpB.png" data-ix="oakmessage">
     </div>
    <div class="oakmessage">
      <img class="cross" src="../lib/ember/images/iconCrossWhite.png" alt="538c474713a46eb10628c686_iconCrossWhite.png" data-ix="oakcross">
      <p class="oak">Hello I am Oak. With this box I can support you through the website.</p>
      <div class="arrowleft oak notavailable"></div>
      <div class="arrowright oak"></div>
      <div class="form">
        <form class="clearfix" id="email-form" name="email-form" data-name="Email Form">
          <div class="checkbox checkbox">
            <input class="checkbox-input" id="checkbox" type="checkbox" name="checkbox" data-name="Checkbox">
            <label class="form-label checkboxlabel" for="checkbox">Stop automated help</label>
          </div>
        </form>
        <div class="form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="kolom-add" onclick="window.location='/#!/editor';">
        <div class="menutext-add">Add a Pokemon</div>
      </div>
      <div class="kolom-party" onclick="window.location='/#!/party';">
        <div class="menutext-party">Show my party</div>
      </div>
      <div class="kolom-gym"  onclick="window.location='/#!/arena';">
        <div class="menutext-gym">Battle other Pokemons</div>
      </div>
      <div class="kolom-list"  onclick="window.location='/#!/leaderboard';" >
        <div class="menutext-leaderboard">Show leaderboard</div>
      </div>
    </div>
</div>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</section>