<section data-ng-controller="EditorController as editor">
{{elementType}}
{{BodyType}}
{{primaryColor}}
{{secondaryColor}}
{{tetriaryColor}}
{{backgroundColor}}
  <div class="bigfade">
    <div class="message">
      <div class="headerlogin">Save your Pokemon</div>
      <img class="pokemonresult" src="..">
      <p>Good job, you finished your Pokémon. If you want to save your progress you can register here.</p>
      <div class="form register">
        <form id="email-form-2" name="email-form-2" data-name="Email Form 2">
          <div class="label username"></div>
          <input class="input textfield" id="name" type="text" name="name" data-name="Name">
          <div class="label password"></div>
          <input class="input textfield" id="email" type="email" name="email" data-name="Email" required="required">
          <div class="label password"></div>
          <input class="input textfield" id="email-2" type="email" name="email-2" data-name="Email 2" required="required">
          <div class="label email"></div>
          <input class="input textfield" id="email-3" type="email" name="email-3" data-name="Email 3" required="required">
          <input class="button button" type="submit" value="Register" data-wait="Please wait...">
        </form>
        <div class="form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
      <div class="form loginform">
        <form id="email-form" name="email-form" data-name="Email Form">
          <div class="label username"></div>
          <input class="input textfield" id="name-2" type="text" placeholder="Enter your username" name="name-2" data-name="Name 2">
          <div class="label password"></div>
          <input class="input textfield" id="email-4" type="password" placeholder="*****" name="email-4" data-name="Email 4" required="required">
          <input class="button button" type="submit" value="Login" data-wait="Please wait...">
        </form>
        <div class="form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
      <div class="savedblock">
        <p>Awesome, you’re registered now! Your Pokémon is saved and will be added to your party. You can view at the main menu.</p><a class="button center" href="#">Okay!</a>
      </div>
    </div>
  </div>
    <div class="nav">
    <div class="navlogo"><a href="http://projectember.tk:3000/#!/dashboard"><img src="../lib/ember/images/navlogopassive.png" alt="logo" url"http://projectember.tk:3000/#!/dashboard"></a></div>
      <div class="loginbutton">
        <ul id="nav">

        <li><a href="#">Logged in as {{users.firstName}} <img class="imgarrowdown" src="../lib/ember/images/iconArrowdown.png" width="10" alt="ArrowDown"></a>

        <ul>
        <li><a href="#">My account</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Log out</a></li>
        </ul>
        </li>
        </ul>
        </div>
      <img class="imghelp" src="../lib/ember/images/iconHelpB.png" width="16" alt="Oak">
      <a class="breadcrumbsgrey" href="/#!/dashboard">My Dashboard</a>
      <div class="breadcrumbspokeoncreator">Creator</div>
    </div>
    <div class="oakmessage">
      <img class="cross" src="../lib/ember/images/iconCrossWhite.png" alt="Cross">
      <p class="oak">Hello I am Oak. With this box I can support you through the website.</p>
      <div class="arrowleft oak notavailable"></div>
      <div class="arrowright oak"></div>
      <div class="form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <div class="checkbox checkbox">
            <input class="checkbox-input" id="checkbox" type="checkbox" name="checkbox" data-name="Checkbox">
            <label class="form-label checkboxlabel" for="checkbox">Stop automated help</label>
          </div>
        </form>
        <div class="form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="contentcreator">
        <div class="content">
          <div class="left">
            <div class="step1">
              <div class="elementtype">
                <h2>Select an element type for your Pokémon</h2>
                <div class="selectorblock">
                  <div class="row1">
                    <div class="iconbackground vuur" id="elementFire" ng-click="editor.setElementType('fire')">
                      <div class="elementtext-fire">Fire</div>
                    </div>
                    <div class="iconbackground electricity" id="elementElectric" ng-click="editor.setElementType('electricity')">
                      <div class="elementtext-electric">Electric</div>
                    </div>
                    <div class="iconbackground water" id="elementWater" ng-click="editor.setElementType('water')">
                      <div class="elementtext-water">Water</div>
                    </div>
                    <div class="iconbackground steel" id="elementSteel" ng-click="editor.setElementType('steel')">
                      <div class="elementtext-steel">Steel</div>
                    </div>
                  </div>
                  <div class="row2">
                    <div class="iconbackground grass" id="elementGrass" ng-click="editor.setElementType('grass')">
                      <div class="elementtext-grass">Grass</div>
                    </div>
                    <div class="iconbackground fight" id="elementFight" ng-click="editor.setElementType('fight')">
                      <div class="elementtext-fight">Fight</div>
                    </div>
                    <div class="iconbackground psychic" id="elementPsychic" ng-click="editor.setElementType('psychic')">
                      <div class="elementtext-psychic">Psychic</div>
                    </div>
                    <div class="iconbackground dark" id="elementDark"ng-click="editor.setElementType('dark')">
                      <div class="elementtext-dark">Dark</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bodytype" ng-show="elementType">
                <div class="bodytype-fade"></div>
                <h2>Select a body type for your Pokémon </h2>
                <div class="selectorblock">
                  <div class="row1">
                    <div class="iconbackground bipedaltail" ng-style="bodyHoverStyle1" ng-mouseenter="bodyHoverStyle1 = backgroundColor" ng-mouseleave="bodyHoverStyle2 = 'background-color':'#e7e7e7'"ng-click="bodyHoverStyle1 = backgroundColor">
                      <div class="bodytypetext-bipedaltail">Bipedal Tail</div>
                    </div>
                    <div class="iconbackground quadropped" ng-style="bodyHoverStyle2" ng-mouseenter="bodyHoverStyle2 = backgroundColor" ng-mouseleave="bodyHoverStyle2 = 'background-color':'#e7e7e7' ">
                      <div class="bodytypetext-quadropped">Quadropped</div>
                    </div>
                    <div class="iconbackground fins" ng-style="bodyHoverStyle3" ng-mouseenter="bodyHoverStyle3 = backgroundColor" ng-mouseleave="bodyHoverStyle3 = {'background-color':'#e7e7e7'}">
                      <div class="bodytypetext-fins">Fins</div>
                    </div>
                    <div class="iconbackground serpentine" ng-style="bodyHoverStyle4" ng-mouseenter="bodyHoverStyle4 = backgroundColor" ng-mouseleave="bodyHoverStyle4 = {'background-color':'#e7e7e7'}">
                      <div class="bodytypetext-serpentine">Serpentine</div>
                    </div>
                  </div>
                  <div class="row2">
                    <div class="iconbackground bipedal" ng-style="bodyHoverStyle5" ng-mouseenter="bodyHoverStyle5 = backgroundColor" ng-mouseleave="bodyHoverStyle5 = {'background-color':'#e7e7e7'}">
                      <div class="bodytypetext-bipedal">Bipedal</div>
                    </div>
                    <div class="iconbackground head-legs" ng-style="bodyHoverStyle6" ng-mouseenter="bodyHoverStyle6 = backgroundColor" ng-mouseleave="bodyHoverStyle6 = {'background-color':'#e7e7e7'}">
                      <div class="bodytypetext-head-legs">Head &amp; Legs</div>
                    </div>
                    <div class="iconbackground wings" ng-style="bodyHoverStyle7" ng-mouseenter="bodyHoverStyle7 = backgroundColor" ng-mouseleave="bodyHoverStyle7 = {'background-color':'#e7e7e7'}">
                      <div class="bodytypetext-wings">Wings</div>
                    </div>
                    <div class="iconbackground insectoid" ng-style="bodyHoverStyle8" ng-mouseenter="bodyHoverStyle8 = backgroundColor" ng-mouseleave="bodyHoverStyle8 = {'background-color':'#e7e7e7'}">
                      <div class="bodytypetext-insect">Insectoid</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="colorwheels" ng-show="bodyType">
                <div class="colorwheels-fade"></div>
                <h2>Select some colors for your Pokémon</h2>

                <div class="colorwheel">
                 <canvas id="colorwheelPrimary" width="100" height="100" ng-init="drawColorwheel('colorwheelPrimary','fire')">
                   
                 </canvas>
                </div> 

                <div class="colorwheel">
                  <canvas id="colorwheelSecondary" width="100" height="100">
                    
                  </canvas>
                </div>

                <div class="colorwheel third">
                  <canvas id="colorwheelTetriary" width="100" height="100">
                    
                  </canvas>
                </div>
              </div>
            </div>
            <div class="step2step3">
              <div class="step2">
                <div class="step2-fade"></div>
                <h2>Pick some bodyparts for your Pokémon</h2>
                <div class="bodypartblocks">
                  <div class="arrowleft"></div>
                  <div class="bodypart ear"></div>
                  <div class="arrowright" onclick="nextEars()"></div>
                </div>
                <div class="bodypartblocks">
                  <div class="arrowleft"></div>
                  <div class="bodypart head"></div>
                  <div class="arrowright" onclick="nextHead()"></div>
                </div>
                <div class="bodypartblocks">
                  <div class="arrowleft"></div>
                  <div class="bodypart arms"></div>
                  <div class="arrowright"></div>
                </div>
                <div class="bodypartblocks">
                  <div class="arrowleft"></div>
                  <div class="bodypart body"></div>
                  <div class="arrowright"></div>
                </div>
                <div class="bodypartblocks">
                  <div class="arrowleft"></div>
                  <div class="bodypart tail"></div>
                  <div class="arrowright"></div>
                </div>
                <div class="bodypartblocks">
                  <div class="arrowleft"></div>
                  <div class="bodypart feet"></div>
                  <div class="arrowright"></div>
                </div>
              </div>
              <div class="step4">
                <div class="step4-fade"></div>
                <h2>Record some audio you can use as a battle cry for your Pokémon</h2>
                <div id="record" class="iconbackground2 audio record" onclick="toggleRecording(this)"></div>
              <div>
                <a class="iconbackground2 audio play" id="save" href="#" target="_blank"></a>
                <audio>
                  <source id="save" src="#" type="audio/wav">
                </audio>
                </div>
                <div class="iconbackground2 audio replay"></div>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="tail">
              <img src="http://projectember.tk:3000/lib/ember/images/pokemon/Electric_bitailed_Tail1.svg">
            </div>
            <div id="earDiv" class="ear">
              <img src="http://projectember.tk:3000/lib/ember/images/pokemon/Electric_bitailed_ears1.svg">
            </div>
            <div class="chest">
              <img src="http://projectember.tk:3000/lib/ember/images/pokemon/Electric_bitailed_chest1.svg">
            </div>
            <div class="arms">
              <img src="http://projectember.tk:3000/lib/ember/images/pokemon/Electric_bitailed_arms1.svg">
            </div>
            <div id="headDiv" class="head">
              <img src="http://projectember.tk:3000/lib/ember/images/pokemon/Electric_bitailed_head1.svg">
            </div>

            <div class="feet">
              <img src="http://projectember.tk:3000/lib/ember/images/pokemon/Electric_bitailed_feet1.svg">
            </div>
            <div class="result" id="result" ng-style="backgroundColor"></div>
            <div class="stats">
              <div class="form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2">
                  <label class="label small" for="field-2">Speed</label>
                  <input class="input textfield small unavailable" id="field-2" type="text" name="field-2" data-name="Field 2" value="4">
                  <label class="label small" for="field-6">Attack</label>
                  <input class="input textfield small unavailable" id="field-6" type="text" name="field-6" data-name="Field 6" value="10">
                  <label class="label small" for="field-5">Defence</label>
                  <input class="input textfield small unavailable" id="field-5" type="text" name="field-5" data-name="Field 5" value="5">
                  <label class="label small" for="field-4">HP</label>
                  <input class="input textfield small unavailable" id="field-4" type="text" name="field-4" data-name="Field 4" value="50">
                  <label class="label small special" for="field-3">Special Attack</label>
                  <input class="input textfield small unavailable" id="field-3" type="text" name="field-3" data-name="Field 3" value="10">
                  <label class="label small special" for="field">Special Defence</label>
                  <input class="input textfield small unavailable" id="field" type="text" name="field" value="8">
                </form>
                <div class="form-done">
                  <p>Thank you! Your submission has been received!</p>
                </div>
                <div class="form-fail">
                  <p>Oops! Something went wrong while submitting the form :(</p>
                </div>
              </div>
            </div>
            <div class="step5">
              <div class="step5-fade"></div>
              <div class="form">
                <form id="email-form" name="email-form" data-name="Email Form" method="post">
                  <label class="label name" for="name-2">Naam:</label>
                  <input class="input textfield name" id="name-2" type="text" name="name-2" data-name="Name 2"><a class="button" href="#">Save</a>
                </form>
                <div class="form-done"></div>
                <div class="form-fail">
                  <p>Oops! Something went wrong while submitting the form :(</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</section>