<section data-ng-controller="HomeController">
  <div class="message">
    <div class="headerlogin">Login</div>
    <div class="form">
      <form class="loginform" id="email-form" name="email-form" data-name="Email Form">
        <label class="label username" for="name"></label>
        <input class="input textfield" id="name" type="text" placeholder="Enter your username" name="name" data-name="Name">
        <label class="label password" for="email"></label>
        <input class="input textfield" id="email" type="password" placeholder="*****" name="email" data-name="Email" required="required">
        <input class="button button center" type="submit" value="Login" data-wait="Please wait...">
      </form>
      <div class="form-done">
        <p>Thank you! Your submission has been received!</p>
      </div>
      <div class="form-fail">
        <p>Oops! Something went wrong while submitting the form :(</p>
      </div>
    </div><a class="noaccount" href="menu.html">Not an account yet? Start here!</a>
  </div>
  <div class="bigfade" data-ix="fadeclose"></div>
  <div class="container">
    <div class="content">
      <a class="inline-block logo center" href="/"><img src="../lib/ember/images/logo-rood.png" width="" alt="logo"></a>
      <h1 class="h1homepage">Ready to create your own Pokemon?</h1><a class="button startbutton" href="/#!/editor">Start here!</a>
    </div>
  </div>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->

</section>