<section class="" data-ng-controller="LeaderboardController">
    <div class="nav">
      <div class="navlogo"><a href="http://projectember.tk:3000/#!/dashboard"><img src="../lib/ember/images/navlogopassive.png" alt="logo" url"http://projectember.tk:3000/#!/dashboard"></a></div>

    	<a class="breadcrumbsgrey" href="#!/dashboard">My Dashboard</a>
      <div class="breadcrumbsmyparty">Leaderboard</div>

      <div class="loginbutton" data-ix="loggedinas">
        <ul id="nav">

        <li><a href="#">Logged in as {{users.firstName}} <img class="imgarrowdown" src="../lib/ember/images/iconArrowdown.png" width="10" alt="ArrowDown"></a>

        <ul>
        <li><a href="#">My account</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Log out</a></li>
        </ul>
        </li>
        </ul>
      </div>   
       </div>
     
    <div class="oakmessage">
      <img class="cross" src="../lib/ember/images/iconCrossWhite.png" alt="538c474713a46eb10628c686_iconCrossWhite.png" data-ix="oakcross">
      <p class="oak">Hello I am Oak. With this box I can support you through the website.</p>
      <div class="arrowleft oak notavailable"></div>
      <div class="arrowright oak"></div>
      <div class="form">
        <form class="clearfix" id="email-form" name="email-form" data-name="Email Form">
          <div class="checkbox checkbox">
            <input class="checkbox-input" id="checkbox" type="checkbox" name="checkbox" data-name="Checkbox">
            <label class="form-label checkboxlabel" for="checkbox">Stop automated help</label>
          </div>
        </form>
        <div class="form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="contentlist">
        <div class="row" ng-repeat="pokemon in pokemons">
          <div class="pokemonblock">
            <img class="pokemon" src="../lib/ember/images/PikaPoe.png" width="100" alt="53859df6a436048033179157_PikaPoe.png">
            <h4 class="pokemonlevel">Level: 40</h4>
          </div>
          <img class="iconsound" src="../lib/ember/images/iconSound.png" width="20" alt="5385a021e01f0af06694d5a3_iconSound.png">
          <h4 class="pokemonname">{{ pokemon.name }}</h4>
          <div class="likes">{{pokemon.votes}}</div>
          <img class="iconlike" src="../lib/ember/images/iconLike.png" width="20" alt="5385a70fc437bef1666c41a9_iconLike.png">
          <div class="statsblock">
            <div class="statsheader">Stats</div>
            <div class="col1">
              <div class="statsitem">Attack: {{ pokemon.attack }}</div>
              <div class="statsitem">Defence: {{ pokemon.deffense }}</div>
              <div class="statsitem">HP: {{ pokemon.hp }}</div>
            </div>
            <div class="col1">
              <div class="statsitem">Special attack: {{ pokemon.spAtk }}</div>
              <div class="statsitem">Special defence: {{ pokemon.spDef }}</div>
              <div class="statsitem">Speed: {{ pokemon.hp }}</div> <!-- dubbel hp??? -midas-->
            </div>
          </div>
          <div class="statsblock">
            <div class="statsheader">Battle Stats</div>
            <div class="col1">
              <div class="statsitem">Won: 3</div>
              <div class="statsitem">Lost: 11</div>
              <div class="statsitem">Draw: 3</div>
            </div>
          </div>
          <div class="share_3d">
            <img class="icon" src="../lib/ember/images/iconShare.png" width="20" alt="5385b5a78fb2fa82331af0fe_iconShare.png">
            <img class="icon" src="../lib/ember/images/icon3D.png" width="30" alt="5385b5bca4360480331793c1_icon3D.png">
          </div>
        </div>
      </div>
      
      </div>
      

</section>